body {
    margin: 10%;
}

a {
    color: $purple;
}

h1 {
    color: $primary;
}
h2 {
    color: $secondary;
}
h3 {
    color: $accent;
}
h4 {
    color: $success;
}
h5 {
    color: $info;
}
h6 {
    color: $warning;
}